.container{
    margin:auto;
    display:flex;
    width:100%s;
    justify-content: space-between;
}

.box{
    width:40px;
    height:40px;
    border:1px solid white;
    margin:5px;
    padding 1px;
}

.box input{
    border:none;
    width:90%;
}

.box br{
    height:1px;
    border:1px solid white;
}