p{
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
    from{
        margin-top: 100%;
    }
    to{
       transform:rotate(360deg);
        margin-top:0;
        
    }
}